<div class="container p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                      <p id="nombre">Nombre</p>  <h3 class="card-title text-uppercase">
                            {{nameProduct}}
                        </h3>
                      <p id="tipo">Categoria</p>
                    <h4 class="m-2">{{tipo}}</h4><br>
                    <p id="unidad">Medida</p>
                    <h4 class="m-2">{{unidadMedida}}</h4><br>
                    <p id="cantidad">Cantidad</p>
                    <h4 class="m-2">{{updateCantd}}</h4><br>
                    <p id="costo">Costo</p>
                    <h4 class="m-2">{{cost}}</h4><br>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/links/delete/{{id}}">
                        Eliminar Producto
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{id}}">
                        Editar Producto
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No a registrado Productos.</p>
                <a href="/links/add">¡Introducir uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>