<div class="container p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                      <p id="nombre">Nombre</p> 
                          <h4>{{nameProduct}}</h4>  
                    <p id="tipo">Categoria</p>
                    <h4 id="categoria" >{{tipo}}</h4>
                    <p id="unidad">Medida</p>
                    <h4 id="medida">{{unidadMedida}}</h4>
                    <p id="cantidad">Cantidad</p>
                    <h4 id="actual" >{{updateCantd}}</h4>
                    <p id="costo">Costo</p>
                    <h4 id="precio">{{cost}}</h4>
                    <p  id="time" class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a id="delet" class="btn btn-danger" href="/links/delete/{{id}}">
                        Eliminar Producto
                    </a>
                    <a  id="edith" class="btn btn-secondary" href="/links/edit/{{id}}">
                        Editar Producto
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No a registrado Productos.</p>
                <a href="/links/add">¡Introducir uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>